<div class="topnav">
  {{#each nav}}
    <a href="{{url}}">{{title}}</a>
  {{/each}}
</div>

<h1>Cart</h1>

<table style="font-size: 20px;">
<thead>
  <tr>
    <th style="width:200px;">Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
</thead>
<tbody>
  {{#each products}}
    <tr>
      <td>{{item}}</td>
      <td>{{quantity}}</td>
      <td>{{price}}</td>
    </tr>
  {{/each}}
</tbody>
</table>
<button class="button button5" onclick="window.location.href='/products'">Buy More</button>
<form action="/" method="post">
  <div>
    <button class="button button5">Checkout</button>
  </div>
</form>
