<div class="topnav">
  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/cart">Cart</a>
  <a href="/about">About</a>
</div>

<h1>This is the PRODUCT page</h1>

  <article>
    {{!-- <h2>
      <a href="/products/{{id}}">{{item}}</a>
    </h2> --}}
    <p>
      {{product.id}}
    </p>
        <p>
      {{product.item}}
    </p>
        <p>
      {{product.price}}
    </p>
        <p>
      {{product.description}}
    </p>
  </article>
  
