<div class="topnav">
  {{#each nav}}
    <a href="{{url}}">{{title}}</a>
  {{/each}}
</div>

<h1>This is the PRODUCTS page</h1>

{{#each products}}
  <article>
    <button class="button button-p" onclick="window.location.href=`/products/{{id}}`">{{item}}</button>
    {{!-- <p>
      {{id}}, {{price}}
    </p> --}}
  </article>
{{/each}}